- const [ page, pages ] = [ 3, 10 ]
if pages && pages > 1
	.pagination
		.pagination__pages
			a.pagination__link(href=`/lesson/database/page/${page-1}`) <
			- for (let i = 1 ; i < pages + 1 ; i ++) {
				a.pagination__link(class=( i == page ? 'pagination__link_active' : '') href=`/lesson/database/page/${i}`)= i
			-	}
			a.pagination__link(href=`/lesson/database/page/${Number(page)+1}`) >
		.pagination__info
			span.pagination__text Страница #{page} из #{pages}